<div class="shadow"></div>

<div class="popup-shadow">
  <form [formGroup]="studentFullInfo" novalidate (ngSubmit)="onSubmit()">
      <div class="popup">
        <div сlass="flexGroup">

          <div formGroupName="fullName" class="fullName">
            
            <div class="form-control">
              <p>
                Фамилия:
              </p>
              <input id="lastName" name="lastName" type="text" formControlName="lastName" 
              (input)="editStudent.lastName=$event.target.value"[value]="editStudent.lastName || ''" required  >
              <!-- <span *ngIf="lastName.invalid && lastName.errors.required">
                фамилия is required.
              </span>
              <span *ngIf="lastName.invalid && lastName.errors.checkFullName">
                ошибка.
              </span> -->
            </div>
                
            <div class="form-control">
              <p>
                Имя:
              </p>
              <input id="firstName" name="firstName" type="text" formControlName="firstName" 
              (input)="editStudent.firstName=$event.target.value"[value]="editStudent.firstName || ''">
            </div>
          
            <div class="form-control">
            <p>
              Отчество:
            </p>
            <input id="patronymic" name="patronymic" type="text" formControlName="patronymic" 
            (input)="editStudent.patronymic=$event.target.value"[value]="editStudent.patronymic || ''">
            </div>
            
          </div>
    
          <div class="form-control">
            <p>
              Дата рождения:
            </p>
            <input id="birthDay" name="birthDay" type="date" formControlName="birthDay" 
            (input)="editStudent.birthDay=$event.target.value"[value]="editStudent.birthDay || ''">
            
          </div>
    
          <div class="form-control">
            <p>
              Средний балл:
            </p>
              <input id="gpa" name="gpa" type="text" formControlName="gpa" 
              (input)="editStudent.gpa=$event.target.value"[value]="editStudent.gpa || ''">

              <!-- <div *ngIf="editStudent.gpa.invalid && (editStudent.gpa.dirty || editStudent.gpa.touched)">

                Не работает!

                <div *ngIf="editStudent.gpa.errors.required">
                  средний балл is required.
                </div>

                <div *ngIf="editStudent.gpa.errors.pattern">
                  Не работает.
                </div>

              </div> -->
          </div>
    
          <h4></h4>
          
          <button type="submit" [disabled]="!studentFullInfo.valid">Редактировать</button>
          <button type="reset" (click)="_exit()">Отмена</button>
    
        </div>
      </div>
    </form>
    </div>